.desc h2 
{
	font-size:25px;
	margin-bottom:-10px ;
}

.desc h6 
{
	text-transform:uppercase;
	margin-bottom:-15px ;
}


.desc p 
{

	margin-bottom:5px;
}

.desc img 
{
 display:inline-block;
}



.btn-danger2 {
	color: #ffffff !important;
	border-width: 0px !important;
	border-color: rgba(0,0,0,0);
	border-radius: 0px;
	font-size: 12px !important;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 700 !important;
	background-color: #e02b20 !important;
	margin:0 5px;
	padding:5px 15px;


}

.dnld{
	display:inline-block !important;
}


.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #e02b20;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #e02b20;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 100%;
  left: 50%;
  top: 0%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.fullleft::after {
  height: 100%;
  right: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #e02b20;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #e02b20;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
