html,body {
	color: #666;
	font-family: "Open Sans",Arial,sans-serif !important;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.7em;
	width:100%;
	height:100%;
	
	   
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px;
	color: #333;
	font-weight: 500;
	line-height: 1em;
}

p{margin-bottom:35px; text-align: left;}

section {
    padding-top: 100px;
}


a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
/*--------------------------------------
*/
.topmenu
{

	background-color:#cd5d5c;
	height:35px;
	
	
	
}
.toplftinfo 
{
	padding:5px;
	
}
.toplftinfo ul
{
	list-style:none;
}


.toplftinfo ul
{
	list-style:none;
	
	}
	
.toplftinfo ul li 
{
	display:inline-block;
	color:#fff;
	font-size:15px;
	
	margin-right:10px;
	padding:0;
	
	}

	
	
.toplftinfo ul li i
{
 color:#fff;
 font-size:15px;
 padding: 0 5px;
	
	}

.toplftinfo ul li a
{
 color:#fff;
 margin:0;
	
	}
	
.toplftinfo ul li a:hover
{
	color:#e9cece;
	text-decoration:none;
	
	
	}


/*-----------------------*/


.toprghtinfo 
{
	padding:5px 30px;
}


.toprghtinfo ul
{
	list-style:none;
}


.toprghtinfo ul
{
	list-style:none;
	
	}
	
.toprghtinfo ul li 
{
	display:inline-block;
	color:#fff;
	font-size:15px;
	
	margin-right:10px;
	padding:0;
	
	}

.toprghtinfo ul li i
{
 color:#fff;
 
	
	}

.toprghtinfo ul li a
{
 color:#fff;



	
	}
	
.toprghtinfo ul li a:hover
{
	color:#e9cece;
	 text-decoration:none;
	
	}

.topsearch i
 {
	position: relative;
	width: 18px;
	font-size:16px;
	margin: 6px 0 0 0px;

}

.topsearch i a:hover
 {
	 color:#F00;



}
/*----------------------------*/

.navbar-brand
{ margin-left:20px;}

.navbar-light .navbar-nav .nav-link {
	font-size:14px;
	
	color: rgba(0,0,0,.6);
}


.navbar-light .navbar-nav .nav-link:hover {

	color: rgba(0,0,0,.4);
}

/*----------------------------*/

 .navbar
 { margin-top:30px;}



.profilevdo video
{
	
	margin:0 auto;
	padding:5px 0 50px 0;
	position:relative;
	display:block;
	width:74%;

	
}

/*----------------------------*/

 
 .left-profile-bg
 {
	 background:url(../images/left-bg_02.jpg) repeat-y;
	 
	 
	 }
	 
.profileimg {
	padding: 35px 100px 35px;
}
.thumb {
	position: relative;
	/* bottom: 7.7em; */
	bottom: 2.5em;
	left: 7.2em;
	 z-index: 99; 
	margin-top: -16.5%;
}

.thumb img
{ 
border:0
}
.sig {
	padding:0px 0px 0px 12%;
		position: relative;
	bottom: 2.5em;
}



.sig img{ 
width:300px;
background-color:#828282;
}

/*----------------------------*/


	.profiletxt
	{
	padding:10% 8.99% 0 1%;
	font-size: 15px;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	
	}
.profiletxt>.col-sm-12{
	padding-left: 0px !important;
}

.profiletxt h6 {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #e02b20 ;
	letter-spacing: 1px;
	line-height: 1.8em;
}

.profiletxt h1 {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 700;
	font-size: 90px;
	line-height: 1.2em;
}

.profiletxt h4 {
	font-family: 'Bad Script',handwriting;
	font-size: 18px;
	line-height: 25px;
	word-spacing: 1px;
	/* text-align: justify; */
	letter-spacing: 1px;
}

.profiletxt h3 {
	margin: 70px 0 20px 0;
	font-family: 'Bad Script',handwriting !important;
	font-weight: 700;
	color: #000000 !important;
	letter-spacing: 3px;
	text-shadow: 0.08em 0.08em 0.08em rgba(0,0,0,0.4);
}





.history
{
	margin:50px;
	padding:200px;
	border:1px solid #666;
}



/*btn*/

.profilebtn::after{
	content: attr(data-icon);
}


.profilebtn::after, .profilebtn::before {
	position: absolute;
	margin-left: -1em;
	opacity: 0;
	text-shadow: none;
	font-size: 32px;
	font-weight: 400;
	font-style: normal;
	font-variant: none;
	line-height: 1em;
	text-transform: none;
	content: "\35";
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
}


.profilebtn {
	color: #ffffff !important;
	border-width: 0px !important;
	border-color: rgba(0,0,0,0);
	border-radius: 0px;
	font-size: 14px;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 700 !important;
	background-color: #e02b20;
}


.btn-danger {

	border-width: 0px !important;
	border-color: rgba(0,0,0,0);
	border-radius: 0px;
	font-size: 14px !important;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 700 !important;
	background-color: #e02b20 !important;
	padding:15px 25px;
}
.btns a.btn-danger, #et-info-email{
	color: #ffffff !important;
}



.btn-light {
	
	border-width: 0px !important;
	/*border-color: rgba(0,0,0,0);*/
	border-radius: 0px;
	font-size: 14px !important;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif !important;
	font-weight: 700 !important;
	width: 65%;
	padding:15px;
}

.awards-education{
	
	padding:0 50px 50px 50px;
}

.awards-education .desc h2 {
	
	color:#333 !important;
}

.awards-education .desc h6 {
	
 text-transform:none !important;
}

/*----------------------------*/

.documents
{
	text-align: center;
	
}



.documents ul
{
 list-style-type:none;
 margin:0;
 padding:0;	
}
.documents ul li
{
display:inline-block;
padding:0 2.5%;

}

.documents ul li a
{



}



/*----------------------------*/

.expcnce-block
{
	background-color:#1c1c1c;
	padding:5%; 
	/*padding:50px 100px 25px 100px; */
	
}

.red 
{
 color:#e02b20 ;
 line-height:45px;
font-weight:500;
font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
}

/*----------------------------*/

.rowgrdnt {
    background-image: linear-gradient(90deg,rgba(28,28,28,1) 30%,#e02b20 90%);
height:55px;

}

.rowgrdnt2 {
    background-image: linear-gradient(90deg,rgba(255,255,255,1) 30%,#e02b20 90%);
height:55px;

}
.portfolio-box{
	height: 100%;
}
/*----------------------------*/

.quotblock  {
    background-color : rgba(224,124,118,0.43);
padding:25px 100px 15px 100px; 


}

.quottext{
	
	border-left:5px solid rgba(239,14,51,0.83);
	margin:0 auto;
	
}

.quottext h1{
	font-family: 'Bad Script',handwriting;
	font-weight: 700;
	letter-spacing: 1px;
	font-size:30px;
	padding-top:15px;
	text-align: center;
	
}

/*----------------------------*/
.Interestsblock {
	padding-left: 100px; 
	padding-bottom:35px;
	
}
.Interestsblock .col-sm-3 {
	padding-left: unset;
}
.Interestsblock h1{
	font-family: 'Didact Gothic',Helvetica,Arial,Lucida,sans-serif;
	font-size: 23px;
	line-height:30px;
	
	
}

.Interestsblock h1 span{
	color:#f23755;
	font-size: 18px;
	padding-right:25px;
	
}

/*----------------------------*/


.chatblock{
	background-color:#e02b20;
	
}
.chatblocktext{
	padding:70px 0 25px 0;

}

.chatblocktext h6 {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff !important;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.chatblocktext h2 {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4em;
	padding-bottom:25px;
	margin-bottom:0;
}

.socialblock
{
	/*background:#1c1c1c;*/
	padding:10px;
	/*width:100;*/
	margin:0 auto;
	text-align: center;
	
}



.socialblock ul
{
 list-style-type:none;
 margin:0;
 padding:0;	
}
.socialblock ul li
{
	background:#1c1c1c;
display:inline-block;
padding:30px 0px;

}

.socialblock ul li a
{

color:#fff;
padding:30px 16px;
}

.socialblock ul li i:hover
{

color:#C3C3C3;

}

.socialblock ul li i
{
color:#fff;
font-size:18px;
padding: 6px;
}

.chatblock-videobox {
	text-align: center;
	padding: 20px; 
	padding-top: 10px;
	padding-bottom: 70px; 
	margin:0 auto;
	width:80%;
	position:relative;

	}


.chatblock-videobox video{
	
	/*padding: 20px; */
 border-radius: 15px;
 -webkit-border-radius:22px;
 -moz-border-radius: 22px; 

-moz-transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out; transition: all 1s ease-in-out;
 } 


/*----------------------------*/

.contactblock
{
	padding:100px 15px 100px 30px;
	/*padding:100px 35px;*/
	width:80%;
}
.btn.btn-danger.send-btn.float-right{
	border-radius: 5px;
}
.contactblock h5 {
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom:50px;
}

.form-control {
	
    font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif !important;
    line-height: 1.8em !important;
	font-size: 16px !important;
	display: block !important;
	width: 100%;
	
	padding:30px 20px !important;

	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #dbdbdb;
	border-radius: 0 !important;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*----------------------------*/




.footerblock1
{
	background:#2d2d2d;
	padding:10px 100px 10px 100px; 
	
}



.footerblock1 ul
{
 list-style-type:none;
 margin:0;
 padding:0;	
}
.footerblock1 ul li
{
display:inline-block;
padding:5px 10px;
color:#cd5c5c;

}

.footerblock1 ul li a
{

color:#cd5c5c;

}

.footerblock1 ul li a:hover
{

color:#9c4d4d;
text-decoration:none;

}
/*----------------------------*/



.footerblock2 {
	
font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif ;
background-color: #171717;
padding:20px 100px 10px 100px; 

}

.footerblock2 p{
	
	line-height:18px;
	margin-bottom:10px;
}
	
.footerblock2 a{
	 color:#666;
	line-height:18px;
	margin-bottom:10px;
	text-decoration:none
}

.footerblock2 a:hover{
	 color:#4e4e4e;
}

/*----------------------------*/



.footerblock2 ul
{
 list-style-type:none;
 margin:0;
 padding:0;	
}
.footerblock2 ul li
{
display:inline-block;
padding:0 12px;

}

.footerblock2 ul li i a
{

color:#cd5c5c;

}

.footerblock2 ul li i:hover
{

color:#666;

}

.footerblock2 ul li i
{
color:#cd5c5c;
font-size:22px;
}

/*----------------------------*/

.myskill{
	padding:35px 15px 25px 130px; 
}

.myskill h2{
    font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4em;
}

.myskill h3{
font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.8em;
text-align: left;
padding-right: 5px;
}
/*----------------------------*/

.progressblock
{
	padding:10px !important;
	font-weight: 501;
	}
	
	
.progress
{
	margin:15px !important;
	height: 1.5rem !important;
	border-radius: 0 !important;
	width: 80%;
	}
.progressblock p
{
	margin:30px 0 -12px 18px !important;
	text-transform:uppercase;
	}
	
.progress-bar {

	background-color: #cd5c5c ;
 	animation: progress 1.5s ease-in-out forwards;
	
}

/*----------------------------*/





.no-padding {
    padding: 0 !important;
}

.portfolio-box {
	display: flex;
	position: relative;
	margin: 0 auto;
	max-width: 500px;
	max-height: 250px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.portfolio-box img{
	height: 100%;
	width: 100%;
}/*.portfolio-box img{
    max-width: 450px ;
    width: auto;
    max-height: 250px;	
    height: auto;
}*/
.portfolio-box .portfolio-box-caption {

    display: block;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
    left: 0;
}

.no-gutter > [class*=col-] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}



/*logo slider*/
/*
.carousel-item
{
	 display: inline-block !important;
}*/

/*.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
*/
/*----------------------------*/
@keyframes progress
 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*=========Gsingh=========*/
#top-header{
	font-size: 14px !important;
}
.navbar.navbar-expand-lg.navbar-light{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	background-color: #fdfcfadb;
	height: 60px;
}
.profilevdo{
	margin-top: -15px;
}
.profiletxt {
	line-height: 1.8em !important;
	/*letter-spacing: 0.2px;*/
	word-spacing: 4px;
}
.profiletxt a.btn:after , .btn.btn-danger.send-btn.float-right:after{
	content: attr(data-icon) !important;
	line-height: inherit;
	font-size: inherit !important;
	margin-left: -1em;
	left: auto;
	 
	transition: all 300ms ease 0ms;
	position: absolute;
	margin-left: -1em;
	opacity: 0;
	text-shadow: none;
	font-size: 32px;
	font-weight: 400;
	font-style: normal;
	font-variant: none;
	line-height: 1em;
	text-transform: none;
	content: "\35";
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;

}
.btn.btn-danger.send-btn.float-right:after{
	position: relative !important;
}
.profiletxt a.btn:hover::after , .btn.btn-danger.send-btn.float-right:hover::after{
	margin-left: .3em;
	left: auto;
	margin-left: .3em;
	opacity: 1;
	color: ;
}/*.profiletxt a.btn:hover::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  border-color: #fff;
  transition: 0.3s ease;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 0;
  border-bottom: 0;
  margin-top: 5px;
  margin-left: 5px;

}*/
.fa.fa-arrow-circle-o-down.fa-2x{
	color: #e02b20;
}
.row.align-items-center .col-9.desc .col-12{
	display: inline-flex;
	padding-left: 0px;
}
.row.align-items-center .col-11{
	display: inline-flex;
	padding-left: 0px;
}
.row.align-items-center .col-9.desc .col-12 .col-9{
	padding: 0px;
}
.row.align-items-center .col-11 .col-9{
	padding: 0px;
}
.col-9.text-right.desc .col-3{
	padding-left: 0px;
}
.document-thumb {
    transition: 0.3s ease;
    cursor: pointer;
    min-height: 130px;
    max-height: 160px;
    min-width: 130px;
    max-width: 160px;
}
.document-thumb:hover{
    transform: scale(1.5, 1.5);
}
.fancybox-content.col-sm-10.col-sm-offset-1{
	width: 60% !important;
	height: 80% !important;
	/*top: 10% !important;*/
}
.fancybox-container {
	z-index: 999999 !important;
}
.modal-header {
	display: block !important;
	padding-bottom: unset;
}
.modal-content{
	border-radius: 0px !important;
}
.award-leftside, .award-rightside{
	display: inline-flex;
	padding-left: unset !important;
}
.award-leftside .col-sm-6, .award-leftside .col-sm-5{
	padding-left: unset !important;
}
.award-rightside .col-sm-6{
	padding-right: unset !important;
}
.interest h2{
	font-size: 22px !important;
	font-weight: bold !important;
}
.interest{
	padding: 35px 15px 15px 70px;
}
.exp-docs{
	/*margin-top: -10%;*/
}
.document-experience{
	    transition: 0.3s ease;
    cursor: pointer;
	width: 80px;
}
.document-experience:hover{
	 transform: scale(1.5, 1.5);
}
/*.doc-container{
  position: relative;
  text-align: center;	
}*/
.doc-text{
	color: #cd5d5c;
	font-weight: 500;
/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
.exprnce p{
	color: #999999 !important;
	font-weight: 500;
	font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
}
#bs4-multi-slide-carousel{
	height: 100px;
}
.experience-timeline div.row.timeline:last-child, .awards-education div.row.timeline:last-child{
	display: none !important;
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link{
		padding:0 1rem !important;
	}
	.col.size-setting {
	padding: unset;
	margin: unset;
}
}
.contact-button{
	display: inline-flex;
	padding-left: unset;
}
.contact-button .btns{
	padding-left: unset;
}
.img-fluid.mx-auto.d-block {
	max-width: 100px;
	max-height: 100px;
}
.exp-docs, .award-leftside .col-sm-3, .award-rightside .col-sm-3{
	text-align: center;
}
.exprnce .red{
	font-size: 36px;
	font-weight: 700;
}
.exprnce p{
	word-spacing: .1em;
}
.container-fluid.expcnce-block .container.row, .container-fluid.expcnce-block .col-sm-7{
	padding-right: 0px !important;
	margin-left: 0px;
}
.size-setting{
	height: 100px;
}
.size-setting img{
	height: 100%;
}
.carousel-inner{
	padding: 0px 15%;
}

@media (max-width: 700px){
	h2{
		font-size: 22px !important;
	}
	section.main-body{
		padding-top: 80px !important;
	}
	#bs4-multi-slide-carousel{
		margin-bottom: 50px !important;

	}
	 .size-setting{
		/*height: auto;*/
		height: 55px;
	} 

	.interest {
		padding: 5%;
		text-align: center;
	}
	.profilevdo, .chatblock-videobox, .contactblock h5 {
		margin-top: unset;
		padding: unset;
		/*width: 99%;*/
	}
	.profilevdo video, .chatblock-videobox video{
		width: 99.99%;
		padding-bottom: unset;
	}
	.chatblock-videobox{
		padding-top: 20px;
	}
	.socialblock ul li{
		padding:15px 0;
	}
	.profileimg {
		padding: 10%;
	}
	.left-profile-bg {
		background: url(../images/left-bg_02.jpg) repeat-y;
		background-size: 60%;
	}
	.thumb{
		left: 50% !important;
		max-width: 100px;
	}
	.thumb img{
		width: 60px !important;
	}
	.profiletxt h1{
		font-size: 32px;
		/*width: 65%;*/
	}
	.profiletxt{
		margin-left: 8%;
	}
	.contact-button{
		display: block;
	}
	.btn-light{
		margin-top:20px;
	}
	.expcnce-block, .myskill{
		padding: 8% !important;
	}
	.red {
		/*color: #e02b20 !important;*/
		line-height: 25px;
		font-weight: 500;
		font-size: 15px !important;

	}
	.Interestsblock {
		padding-left: 10%;
		padding-bottom: 35px;
	}
	.Interestsblock h1 span{
		padding-right: unset;
	}
	.Interestsblock h1 {
		font-family: 'Didact Gothic',Helvetica,Arial,Lucida,sans-serif;
		font-size: 20px;
		line-height: 25px;
	}
	.img-fluid.mx-auto.d-block {
		max-width: 200px;
		max-height: 200px;
	}
	#bs4-multi-slide-carousel{
		height: auto;
	}
	embed{
		width: 100% !important;
	}
	.modal-dialog{
		max-width: 100% !important;
	}
	.row.align-items-center .col-9.desc .col-12 .col-9{
		padding-right: 10px !important;
	}
	.circle {
		padding: 8px 12px !important;
	}
	.progressblock p{
		margin-top: 2px !important;
	}

	.awards-education, .quotblock{
		padding: 4%;
	}
	.quottext h1{
		font-size: 20px;
	}
	.chatblocktext {
		padding: 15% 5% 2% 5%;
	}
	.socialblock {
		 padding: unset; 
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.contactblock {
		padding: 4%;
		width: 100%;
		text-align: justify;
	}
	.form-control{
		padding: 15px 10px !important;
	}
	.send-btn {
		width: 100%;
		margin-bottom: 20px;
	}
	.sig, .thumb{
	bottom: 3.1em !important;
	}
	.container-fluid.expcnce-block .container{
		padding: unset;
	}
	.exprnce p{
		font-size: 13px;
		line-height: 1.5em;
		word-spacing: unset;
	}
	.slider .text-white{
		font-size: 16px;
	}
	.desc h2{
		font-size: 24px !important;
	}
	.text-white{
		font-size: 22px;
	}
	
	.logo_container a img#logo{
		max-width: 42% !important;
		margin-left: 15px !important;
	}
	ul#et-secondary-nav li a{
		color: #fff !important;
	}
	#et-footer-nav .container{
	width: 85% !important;
	}
	ul#menu-footer-menu{
		margin-bottom: unset !important;
	}
	#footer-info{
		font-size: 12px !important;
	}

	#footer-info p{
		text-align: center !important;
		margin-bottom: unset !important;
	}
	ul#menu-footer-menu li a {
		font-size: 12px !important;
	}
	.expcnce-block > div.row{
		padding-left: unset !important;
	}
}
.expcnce-block > div.row{
	padding-left: 60px;
}
#footer-info a{
	color: #666 !important;
}
/* -=========Final Header======= */
/* ul#et-secondary-nav{
	margin-bottom: 0px !important;
} */
textarea#message{
	height: 150px;
}
#top-header #et-info{
	height: 36px !important;
}
header#main-header{
	top: 36px !important;
}
.profileimg img{
	max-width: 116% !important;
}
.logo_container #logo{
	max-height: 53px !important;
}
.et_header_style_left .logo_container{
	width: 95% !important;
}
#et-info-phone, #et-info-email{
		display: none;
	}
	#et-info, #et-secondary-menu > ul > li a{
		color: #fff !important;
	}
#page-container #top-header{
	max-height: 36px !important;
	top: 0px !important;
} 
a.publish-btn{
	font-weight: 600;
	color: #fff !important;
	z-index: 999999 !important;
	margin-left: 20px;
	position: fixed;
}
