



.msgValid{
	color:#F00;
}

.input-group-addon.old-icon {
  width: 10px;
}

.form-control.deposite {
  width: 475px;
}

.logo img {

  width: 81%;

}

.main-sidebar {

  background: #000000 none repeat scroll 0 0 !important;

}

.logo img {

  width: 164px;

   padding: 3px;

}

.logo-mini img {

  width: 48px;

   padding: 3px;

}

.skin-blue .treeview-menu > li > a {

  color: #8aa4af;

  padding: 10px !important;

}

.small-box.bg-yellow {

  background: #ec6f1d none repeat scroll 0 0 !important;

}

.btn.btn-warning.totalmember {

  margin-right: 34px;

}

.btn.btn-warning {

  background: #ec6f1d none repeat scroll 0 0;

}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {

  border-color: #a43232;

  color: #ffffff;

  cursor: default;

  z-index: 2;

  background: #a43232;

}

.btn-warning:hover, .btn-warning:active, .btn-warning.hover {

  background-color: #ff8432 !important;

}

.dropdown.user.user-menu.open .dropdown-menu {

  min-width: 100px;

  width:100px;

}

.reveal-modal .close-reveal-modal {

  height: 25px !important;

  width: 25px !important;

}

.panel-heading a i {
  color: #ec6f1d;
}

.form-control:focus {
  border-color: #ec6f1d !important;
  box-shadow: none;
}



/*=======================================Model Css start Here=================================================*/



.reveal-modal {

  background: #fafafa none repeat scroll 0 0;

  border: 3px solid #0167c0;

  border-radius: 7px;

  left: 10%;

  min-height: auto;

  padding: 10px;

  position: fixed !important;

  top: 119px !important;

  visibility: hidden;

  width: 80%;

  z-index: 1000;

}
.btn.btn-primary {
  background: #ec6f1d none repeat scroll 0 0 !important;
  border: 1px solid #ec6f1d;
}

/*=======================================Model Css End Here=================================================*/

@media only screen and (max-width: 1024px){

	.divoverflow {

  overflow-x: auto !important;

}



}

@media only screen and (max-width: 767px){



.btn.btn-warning.totalmember {

  float: left !important;

  margin-right:0px;

}

.box-title {

  width: 100%;

  padding-bottom:20px;

}

.divoverflow {

  overflow-x: auto;
  margin-bottom:25px;

}

.reveal-modal{
	
position:absolute !important;

}
.dropdown.user.user-menu {
  padding-right: 7px !important;
}

}
.main-sidebar {
  /*top: 59px !important;*/
  padding-left:15px;
  padding-right:8px;
  padding-top:0px !important;
}
.content-wrapper, .right-side {
  background-color: #ededed !important;
}
body{
	background:#edede !important;
}
.sidebar {
 /* background: #fff none repeat scroll 0 0;
  border-radius: 8px !important;
  box-shadow: 0 0 4px #afafaf !important;*/
  padding: 11px 8px;
}
.panel.panel-default {
  box-shadow: 0 0 4px #afafaf !important;
}
.treeview-menu{
	/*display:block !important;*/
}
body {
  background: #ededed none repeat scroll 0 0 !important;
}
.sorting{
	background:#d8d8d8 !important;
	border:none !important;
}
.sorting_asc{
	background:#d8d8d8 !important;
	border:none !important;	
}
table.table.dataTable td{
	border:none !important;		
}
.dropdown.user.user-menu {
  padding-right: 53px;
}
h3.box-title {
  color: #36465d;
  font-size: 17px !important;
  font-weight: 600;
 /* text-transform: uppercase;*/
}
.box-body {
  padding-top: 0;
}
.table.table-striped thead th{
	background:#d8d8d8;
	border:none;
}
.table.table-striped tbody td{
	border:none;
}
.form-control {
  border-radius: 5px !important;
}
.oneline{
    margin-bottom: 10px !important;
    float: left;
    width: 100%;
}
.oneline label {
  font-weight: 500 !important;
  padding-top: 5px !important;
}
.btn.btn-primary.butoon_brow {
  background: #247ab5 none repeat scroll 0 0 !important;
  border: 1px solid #247ab5 !important;
  border-radius: 5px;
  /*width: 50% !important;*/
}
legend {
  background: #cc5b5b none repeat scroll 0 0 ;
  color: #fff;
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-top: 5px;
  text-align: center;
}
.btn.btn-primary.bulu {
  background: #a43232 none repeat scroll 0 0 !important;
  border:#a43232 !important;
}
.btn.btn-primary.redu {
  background: #932727 none repeat scroll 0 0 !important;
  border:#932727 !important;
}
.deleteimage {
  position: absolute;
  right: -4px;
  top: -5px;
  width: 16px;
}
.img_crs {
  float: left;
  height: 57px;
  margin-left: 8px;
  position: relative;
  width: 71px;
  margin-bottom:5px !important;
}
.img_crs a img {
  height: 100%;
  width: 100%;
}
.add-box, .remove-box {
    display: inline-block;
    position: absolute;
    right: -29px;
    top: 20px;
}
p.text-box {
  position: relative;
}
.add-box, .remove-box i {
  font-size: 28px;
}
/* for Center Heading */
.head-center{
	text-align:center;
}
.carb-heading {
    font-size: 32px !important;
    font-weight: bold;
    line-height: 1px;
}

.divoverflow {
  overflow-x: auto;
}
.pt_level{
	float:left;
	position:relative;
	top:5px;
	font-weight:bold;
}
p.text-box {
  position: relative;
}
.add-box.abpart {
  display: inline-block;
  position: absolute;
  right: -58px;
}

.my-form.bg {
  background: #ededed none repeat scroll 0 0 !important;
  float: left;
  width: 100%;
  margin-bottom:15px;
  clear:both;
}
textarea.supplier_height {
  height: 108px;
}
.show_parts_img {
  border: 1px solid #eee;
  float: left;
  padding: 5px;
  width: 100%;
  text-align:center;
  margin-bottom:20px;
  position:relative
}
.show_parts_img img {
  width: 100% !important;
}
.show_parts_img:hover {
  /*box-shadow: 0 5px 12px #929292;*/
}
.show_parts_img:hover .overlay {
  background: #000 none repeat scroll 0 0;
  bottom: 5px;

  left: 5px;
  opacity: 0.7;
  position: absolute;
  right: 5px;
  top: 5px;
}.tabcontent {
  float: left !important;
}
.long_button{
	white-space:normal !important;
}


/*.button_center img {
	right: 0 !important;
	top:auto !important;
}*/
.form_bg {
	background: none;
}
.background_layer {
	background-color: #cd5c5c;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .77;
}
/*.treeview:hover {
	background-color: rgba(255, 255, 255, 0.13);
	opacity: 1;
}*/

/*****************************Start For Alert Message*********************/
.alert h4 {
	margin: 0px !important;	
}
/*****************************End For Alert Message*********************/

/*****************************Start For Responsive Table Width*********************/

/*.width_srno.sorting_asc {
	width: 25px !important; 
}
.width_srno.sorting_desc {
	width: 25px !important; 
}


.width_normal.sorting_asc {
	width: 50px !important; 
}
.width_normal.sorting_desc {
	width: 50px !important; 
}*/

.row {
	margin-right:0 !important;
}
.center_text {
	margin-top:5%;
}

/*****************************End For Responsive Table Width*********************/
/*=========Gsingh==============*/
.content-wrapper, .wrapper, .main-sidebar{
  background-color: #cd5c5c !important;
}
.navbar.navbar-default.navbar-fixed{
  margin: 0 15px;
}
.info_batch {
  position: absolute ;
  top: 9px ;
  right: 7px ;
  text-align: center ;
  font-size: 9px ;
  padding: 2px 3px ;
  line-height: .9 ;
}
.messages-menu .dropdown-menu, .tasks-menu .dropdown-menu{
  right: 0 !important;
}
.nav li li ul {
  z-index: 1000;
  top: -23px;
   left: 1px; 
}
.nav li ul{
  opacity: 1 !important;
  visibility: visible !important;
}
.nav li li {
  position: relative;
   line-height: unset !important; 
}
.nav li ul.menu {
   position: unset; 
  /*padding: 20px 0;*/
}
.nav li ul.menu li{
   /*position: unset; */
  padding: 0;
}
.tabs .col-md-2.active legend{
  background-color: #a43232;
}

 b{
  color: #a43232;
 }
 thead > tr > th{

  background: #cd5c5c !important;
  color: #fff;
 }
 .table.table-striped thead th {
   background: #cd5c5c !important;
  border: none;
}
a.btn.btn-primary{
  color: #fff !important;
}
.panel.panel-default {
  /*padding: 15px;*/
  min-height: 720px !important;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
  background-color: #cd5c5c !important;
}
.xdsoft_datetimepicker .xdsoft_calendar th {
  color: #fff !important;
}
.text-muted {
  color: #777 !important;
}
.bg-muted {
  background-color: #777 !important;
  color: #fff !important;
}
.form-group, .modal-title, .bg-lime {
  color: #444 !important;
}
thead {
         background: #f5f5f5 none repeat scroll 0 0;
         }

    .fix_width legend{
      padding-left: unset !important;
      font-size: 12px;
    }
    .user.info{
      bottom: 0;
      text-align: center;
      padding: unset;
      width: 75%;
    }
     .small-screen{
      display: none !important;
     }
  #video_frame{
    height: 400px ;
  }

  .default_video{
    min-height: 350px;
  }

.irs-min, .irs-max, .irs-single {
  color: #fff !important;
  background: #cc5b5b !important;
  font-size: 13px !important;
}
     /*==========Mobile View======*/
@media only screen and (max-width: 650px) {
    .panel.panel-default{
      margin: 0 15px;
    }
    .navbar.navbar-default.navbar-fixed{
      margin: 0 30px;
    }
    .main-header .sidebar-toggle{
      color: #fff !important;
    }
    .main-sidebar{
      top: 5px !important;
    }
    .user.info{
      bottom: 0;
      text-align: center;
      padding: unset;
      width: 75%;
    }
    .large-screen{
      display: none;
    }
    .small-screen{
      display: block !important;
      margin-bottom: 15px !important;
      font-weight: bold;

    }
     ul.list-group{
      margin-bottom: unset !important;
      font-weight: bold;
      color: #fff;
     
    }
    ul.list-group .list-group-item{
       background-color: #cd5c5c !important;
       color: #fff;
    }
  #hide_btns .col-md-4{
    margin-bottom: 5px;
  }
    #video_frame{
    height: 250px !important;
  }
  .default_video{
    min-height: 200px !important;
  }
  .fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled{
    display: none;
  }
 
    .fc-toolbar {
  text-align: center;
  margin-bottom: -10px !important;
  }
  .fc-day-grid-container.fc-scroller{
    height: auto !important;
  }
  .todo-list > li {
  display: flow-root !important;
}
  .todo-list > li .fa.fa-calendar{
    display: none;
  }
  .navbar-header{
    display: inline-flex;
  }
  .btn-group.small-screen.pull-right {
    right: -35px;
    bottom: -16px;
  }
   .btn-group.small-screen.pull-right > a{
    color: #cc5b5b !important;
   }
}

